<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} - {{ subtitle }}</title>
  <link rel="shortcut icon" href="{{ "img/favicon.ico"|url }}">
  <link rel="stylesheet" href="https://www.maxresing.de/css/min-1-5-0.css">
  <link rel="stylesheet" href="https://www.maxresing.de/css/boring-0-1-10.css">
  <link rel="stylesheet" href="https://www.maxresing.de/css/maxresing-1-0-0.css">
</head>

<body>
  <nav class="nav" tabindex="-1" onclick="this.focus()">
    <div class="container">
        <a class="pagename" href="https://www.maxresing.de">maxresing.de</a>
        <a href="https://www.maxresing.de/skills.html">Knowledge & Technology</a>
        <a href="https://www.maxresing.de/projects.html">Projects</a>
        <a href="https://www.maxresing.de/about.html">About</a>
    </div>
  </nav>

  {{ header }}

  <main class="container">
    <div class="row">
      <div class="col c12">
        {{ content }}
      </div>
    </div>
  </main>

  <footer class="footer bg-light gray">
    <div class="container">
      <div class="row">
        <div class="col c4 tl">
          <h3>Navigate</h3>
          <ul>
            <li><a href="https://static.maxresing.de/doc/CV.pdf">Resume</a></li>
            <li><a href="https://www.maxresing.de/contact.html">Contact</a></li>
            <li><a href="https://www.maxresing.de/disclaimer.html">Imprint/Disclaimer</a></li>
          </ul>
        </div>

        <div class="col c4 tl">
          <h3>Services</h3>
          <ul>
            <li><a href="https://static.maxresing.de">static.maxresing.de</a></li>
            <li><a href="#">Documentation (offline)</a></li>
            <li><a href="https://bakkiecounter.com">Bakkiecounter</a></li>
          </ul>
        </div>


        <div class="col c4 tl">
          <h3>Links</h3>
          <ul>
            <li><a href="https://www.linkedin.com/in/max-resing">LinkedIn</a></li>
            <li><a href="https://codeberg.org/resingm">Codeberg</a></li>
            <li><a href="https://gitlab.com/resingm">GitLab</a></li>
            <li><a href="https://github.com/resingm">GitHub</a></li>
          </ul>
        </div>

      </div> <!-- row -->

      <div class="row">
        <div class="col c12 tc">
          &copy; {{ current_year }} Max Resing
        </div>
      </div> <!-- row -->
    </div> <!-- container -->
  </footer>
</body>
</html>

