
/* page */

.footer {
  font-size: 0.8em;
  padding: 2em 0 1em 0;
}

.header {
  margin-bottom: 2em;
  padding: 4em 0 2em 0;
}

.header a {
  color: #e9e9e9;
  font-weight: bold;
  text-decoration: none;
}

.header a:hover {
  color: #fff;
  text-decoration: none;
}

.nav a {
  text-decoration: none;
}

.nav a:hover {
  color: #fff;
  text-decoration: none;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}


/* layout */

.container {
  width: auto;
}

@media(min-width:1310px) {
  .container {
    width: 640px;
  }
}

.row {
  line-height: 2em;
}


/* height, width, padding, margin */

.mh {
  margin-left: 1em;
  margin-right: 1em;
}

.mv {
  margin-top: 1em;
  margin-bottom: 1em;
}

.ph {
  padding-left: 1em;
  padding-right: 1em;
}

.pv {
  padding-top: 1em;
  padding-bottom: 1em;
}


/* colors */

.blue {
  color: #577590;
}

.red {
  color: #f94144;
}

.orange {
  color: #f3722c;
}

.yellow {
  color: #f8961e;
}

.green {
  color: #74a94c;
}

.cyan {
  color: #43aa8b;
}

.white {
  color: #fff;
}

.gray {
  color: #999;
}

.gray-dark {
  color: #343a40;
}

.black {
  color: #000;
}

.primary {
  color: #577590;
}

.secondary {
  color: #f9c74f;
}

.success {
  color: #74a94c;
}

.info {
  color: #43aa8b;
}

.warning {
  color: #f372cc;
}

.danger {
  color: #f94144;
}

.light {
  color: #e9e9e9;
}

.dark {
  color: #343a40;
}


/* background colors */

.bg-blue {
  background-color: #577590;
}

.bg-red {
  background-color: #f94144;
}

.bg-orange {
  background-color: #f3722c;
}

.bg-yellow {
  background-color: #f8961e;
}

.bg-green {
  background-color: #74a94c;
}

.bg-cyan {
  background-color: #43aa8b;
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #999;
}

.bg-gray-dark {
  background-color: #343a40;
}

.bg-black {
  background-color: #000;
}

.bg-primary {
  background-color: #577590;
}

.bg-secondary {
  background-color: #f9c74f;
}

.bg-success {
  background-color: #90be6d;
}

.bg-info {
  background-color: #43aa8b;
}

.bg-warning {
  background-color: #f3722c;
}

.bg-danger {
  background-color: #f94144;
}

.bg-light {
  background-color: #e9e9e9;
}

.bg-dark {
  background-color: #343a40;
}


/* decorations */

blockquote {
  background-color: #e9e9e9;
  border: 1px solid #0002;
  border-left: 3px solid #999;
  padding: 1em;
}

code {
  background-color: #e9e9e9;
}

hr {
  margin-top: 2em;
  border: none;
  border-top: 2px dotted #e9e9e9;
}

input {
  width: 100%;
}

pre {
  background-color: #e9e9e9;
  border: 1px solid #0002;
  color: #343a40;
  padding: 1em;
  white-space: pre-wrap;
}

pre code,
pre .line-number {
  display: block;
}

pre .line-number {
  color: #999;
  float: left;
  margin: 0 1em 0 -1em;
  border-right: 1px solid;
  text-align: right;
}

pre .line-number span {
  display: block;
  padding: 0 0.5em 0 1em;
}

pre .cl {
  display: block;
  clear: both;
}

/* links */

a {
  color: #343a40;
}

a:hover {
  color: #43aa8b;
  text-decoration: underline;
}

/* lists */

.list li {
  border: 1px solid #0002;
  display: block;
  padding: 0.25rem 1.25rem;
  position: relative;
}

ol li, ul li {
  padding: 0.25rem 1.25rem;
  position: relative;
}


.list a {
  text-decoration: None;
}


/* headlines */

h1.title {
  font-size: 3em;
}

h2.title {
  font-size: 2em;
}

h3.title {
  font-size: 1.5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.0em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.7em;
}


/* text align */

.row p {
  text-align: justify;
}

.tc {
  text-align: center !important;
}

.tj {
  text-align: justify !important;
}

.tl {
  text-align: left !important;
}

.tr {
  text-align: right !important;
}


/* borders */

.ba {
  border: 1px solid #0002;
}
