<div class="row">
    <div class="col c12">
        <p><img class="portrait rounded-circle" src="https://www.maxresing.de/img/portrait00.png" focusable="false" width="180" /></p>

        <h1 class="tc">Max Resing</h1>
        <h5 class="tc">Mail: contact (at) maxresing.de</h5>
        <hr />
        <p>My name is Max Resing. I am a passionate computer science student who
        has a huge interest in networking &amp; Internet data as well as data
        processing (platforms). Besides studying, I am a former full-stack
        developer employed by different medium-sized companies. My first job in
        the field of large-scale Internet measurements was at the University of
        Twente, supporting projects of OpenINTEL. My project team worked on a
        daily monitoring of the DNSSEC landscape in the TLDs of Switzerland and
        Lichtenstein. Since November 2022, I support the Netscout ASERT team as
        a Research Analyst in part-time. We work with cyber threat data on a
        global scale. The main focus is DDoS.</p>
        <p>Next to my study and professional involvement, I like digging into many
        kinds of projects. I operate my own home lab, I dig into open data sets
        and build cool stuff.</p>
    </div>
</div> <!-- row -->