{% extends "base.html.jinja" %}

{% block content %}

<img class="portrait rounded-circle" src="{{ dir.static }}/img/{{ landing.portrait }}" focusable="false" width="180" />

<h1 class="tc">{{ landing.name }}</h1>
<h5 class="tc">Mail: {{ landing.mail }}</h5>

{% endblock %}