<nav class="nav" tabindex="-1" onclick="this.focus()">
    <div class="container">
        <a class="pagename" href="{{ base_url }}">maxresing.de</a>
        <a href="{{ base_url }}/skills.html">Knowledge & Technology</a>
        <a href="{{ base_url }}/projects.html">Projects</a>
        <a href="{{ base_url }}/about.html">About</a>
    </div>
</nav>